# Sintaxe do .gitignore:
# Use * para ignorar padrões (ex: *.tmp ignora todos arquivos .tmp).
# Use / para ignorar pastas (ex: logs/ ignora a pasta logs).
# Use ! para exceções (ex: !important.log não ignora esse arquivo, mesmo que *.log esteja listado).

# Ignorar configurações de IDE
.vscode/
lib/

#Ignorar arquivos compilados
*.class